.THIS .custom-background {
    background-color: white;    
    color: black;    
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, .4);
    padding: 6px 8px;
}

.THIS .project-Name {
    position: absolute;    
    bottom: 42%;
    left: 0;
    right: 0;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, .4);
    padding: 6px 8px;
}