.THIS .slds-item{
    background-color: white;     	
    padding: 1rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
}

.THIS .slds-icon-custom {
    width: 3rem;
    height: 3rem;
    fill: rgb(255, 255, 255);
    float: right;
}

.THIS .article-custom{
    margin-right: 80px;
}

.THIS .textLink-custom{    
    color: black;
        
}

.THIS .custom-div-icon{
margin:1px;    
}